<div>
  <p>by <strong><%= comment.author_name %></strong></p>
  <p class="comment"><%= comment.body %></p>
  <p>Posted <%= distance_of_time_in_words(comment.article.created_at, comment.created_at) %> later</p>
  <br>
</div>
